<canvas id="chart" style="z-index: 5" class="mb-4"></canvas>
<script>
    // Select an element with the "four-colors" class
    var fourColorsElements = document.querySelectorAll('.four-colors');
    
    // Array to store the colors
    var colorscheme = [];

    var fourColorsElement = null;
    fourColorsElements?.forEach(element => {
      if ([...element.children].length >= {{scores.len()}}) {
          fourColorsElement = element;
      }
    });
    
    // Loop through child elements
    [...fourColorsElement?.children].forEach((child, index) => {
      // Get the computed style of the child element
      var style = getComputedStyle(child);
      
      // Fetch the `color` property
      var color = style.getPropertyValue('color');
      
      // Add the color to the array
      if (color) colorscheme.push(color.trim());
    });

  Chart.defaults.font.family = "JetBrains Mono";

  var chart = new Chart(document.getElementById("chart"), {
    type: "line",
    data: {},
    options: {
      plugins: {
        legend: {
          display: false,
        },
      },
      responsive: true,
      scales: {
        x: {
          type: "linear",
          beginAtZero: false,
        },
        y: {
          type: "linear",
          beginAtZero: true,
        },
      },
      animation: true,
    },
  });


  chart.data.datasets = [
      {%- for i in 0..scores.len() -%}
      { 
          label: "{{scores[i].name}}", 
          data: {{"{:?}"|format(scores[i].scores)}}, 
          backgroundColor: colorscheme[{{i}} % colorscheme.length],
          borderColor: colorscheme[{{i}} % colorscheme.length]
      },
      {% endfor %}
  ];

  chart.data.labels = [...Array(chart.data.datasets[0].data.length).keys()];
  chart.update();
</script>
