<form
  id="dealform"
  hx-post="/api/deal/{{id}}"
  hx-swap="outerHTML"
  class="w-full flex flex-col pt-4"
>
  <div id="step1" class="w-full">
    <h2 _="on load set $players to 0" class="text-neutral-800 font-medium text-lg mb-2">Wie speelde?</h2>
    <div class="form-grid four-colors">
      {% for player in game.players %}
      <div
        _="
        on click 
                    toggle @checked on first <input/> in me 
                    then toggle .toggled on me
                    then if I match .toggled
                        increment $players
                    else
                        decrement $players
                    end
                    then if $players == 1 or $players == 2
                        remove .hidden from #next1
                        then transition #next1's opacity to 1 over 100ms
                    else
                        transition #next1's opacity to 0 over 100ms 
                        then add .hidden to #next1
                    end
                    "
        class="h-16 button center"
      >
        <input type="checkbox" name="team" value="{{player}}" hidden />
        {{player}}
      </div>
      {% endfor %}
    </div>
    {% if game.players.len() > 4 -%}
    <button
      type="button"
      id="next1"
      _="
                on click 
                transition #step1's opacity to 0 over 250ms
                then add .hidden to #step1 
                then remove .hidden from #steponehalf
                then transition #steponehalf's opacity to 1 over 250ms
                "
      class="button center mt-12 ml-auto hidden opacity-0"
    >
      volgende
    </button>
    {% else -%}
    <button
      type="button"
      id="next1"
      _="
                on click 
                transition #step1's opacity to 0 over 250ms
                then add .hidden to #step1 
                then if $players == 1
                    then remove .hidden from #step2solo
                    then transition #step2solo's opacity to 1 over 250ms
                else if $players == 2
                    then remove .hidden from #step2duo
                    then transition #step2duo's opacity to 1 over 250ms
                end
                "
      class="button center mt-12 ml-auto hidden opacity-0"
    >
      volgende
    </button>
    {% endif -%}
  </div>
  {% if game.players.len() > 4 -%}
  <div id="steponehalf" class="w-full hidden opacity-0">
    <h2 _="on load set $opps to 0" class="text-neutral-800 font-medium text-lg mb-2">Tegen wie?</h2>
    <div class="form-grid four-colors">
      {% for player in game.players %}
      <div
        _="on click 
                    toggle @checked on first <input/> in me 
                    then toggle .toggled on me
                    then if I match .toggled
                        increment $opps
                    else
                        decrement $opps
                    end
                    then if $players + $opps == 4
                        remove .hidden from #nextonehalf
                        then transition #nextonehalf's opacity to 1 over 100ms
                    else
                        transition #nextonehalf's opacity to 0 over 100ms 
                        then add .hidden to #nextonehalf
                    end
                    "
        class="h-16 button center"
      >
        <input type="checkbox" name="opp" value="{{player}}" hidden />
        {{player}}
      </div>
      {% endfor %}
    </div>
    <button
      type="button"
      id="nextonehalf"
      _="
                on click 
                transition #steponehalf's opacity to 0 over 250ms
                then add .hidden to #steponehalf 
                then if $players == 1
                    then remove .hidden from #step2solo
                    then transition #step2solo's opacity to 1 over 250ms
                else if $players == 2
                    then remove .hidden from #step2duo
                    then transition #step2duo's opacity to 1 over 250ms
                end
                "
      class="button center mt-12 ml-auto hidden opacity-0"
    >
      volgende
    </button>
  </div>
  {% endif -%}
  <div id="step2solo" class="hidden opacity-0 w-full">
    <h2 class="text-neutral-800 font-medium text-lg mb-2">
      Wat was het hoogste bod?
    </h2>
    <div class="form-grid" id="solobids">
      {% for bid in solobids %}
      <div
        _="on click 
                    remove .toggled from <#solobids>div/>
                    then remove @checked from <#solobids>div>input/>
                    then add .toggled
                    then add @checked='true' to first <input/> in me
                    then remove .hidden from #next20
                    then transition #next20's opacity to 1 over 100ms
                    "
        class="h-16 button center"
      >
        <input type="radio" name="bid" value="{{bid}}" hidden />
        {{bid}}
      </div>
      {% endfor %}
    </div>
    <button
      type="button"
      id="next20"
      _="
                on click 
                transition #step2solo's opacity to 0 over 250ms
                then add .hidden to #step2solo
                then remove .hidden from #step3
                then transition #step3's opacity to 1 over 250ms
                "
      class="button center mt-12 ml-auto hidden opacity-0"
    >
      volgende
    </button>
  </div>
  <div id="step2duo" class="hidden opacity-0 w-full">
    <h2 class="text-neutral-800 font-medium text-lg mb-2">
      Wat was het hoogste bod?
    </h2>
    <div class="form-grid" id="duobids">
      {% for bid in duobids %}
      <div
        _="on click 
                    remove .toggled from <#duobids>div/>
                    then remove @checked from <#duobids>div>input/>
                    then add .toggled
                    then add @checked='true' to first <input/> in me
                    then remove .hidden from #next21
                    then transition #next21's opacity to 1 over 100ms
                    "
        class="h-16 button center"
      >
        <input type="radio" name="bid" value="{{bid}}" hidden />
        {{bid}}
      </div>
      {% endfor %}
    </div>
    <button
      type="button"
      id="next21"
      _="
                on click 
                transition #step2duo's opacity to 0 over 250ms
                then add .hidden to #step2duo
                then remove .hidden from #step3
                then transition #step3's opacity to 1 over 250ms
                "
      class="button center mt-12 ml-auto hidden opacity-0"
    >
      volgende
    </button>
  </div>
  <div id="step3" class="hidden opacity-0 w-full">
    <h2 class="text-neutral-800 font-medium text-lg">Aantal slagen?</h2>
    <div class="form-grid-small" id="slages">
      {% for i in 0..14 %}
      <div
        _="on click 
                        remove .toggled from <#slages>div/>
                        then remove @checked from <#slages>div>input/>
                        then add .toggled
                        then add @checked='true' to first <input/> in me
                        then remove .hidden from #submit
                        then transition #submit's opacity to 1 over 100ms
                        "
        class="h-16 button center"
      >
        <input type="radio" name="slagen" value="{{i}}" hidden />
        {{i}}
      </div>
      {% endfor %}
    </div>
    <button
      type="submit"
      id="submit"
      class="max-w-52 button center mt-12 ml-auto hidden opacity-0"
    >
      opslaan
    </button>
  </div>
</form>
