<div class="center-content">
  <div class="flex flex-col w-full h-full md:h-auto">
    <label class="text-input-label h-20 ml-auto mr-auto md:ml-0">
      <h2 class="text-input-label">zoek</h2>
      <input
        type="text"
        placeholder="spel of speler"
        class="text-input-small w-full"
        _="on keyup
            show <div.game/> in #games when its textContent.toLowerCase() contains my value.toLowerCase()
            "
      />
    </label>
    <div id="games" class="flex flex-col gap-y-4">
      {% for game in games %}
      <div class="game grid gap-4 grid-cols-9">
        <div class="col-span-3 break-words hyphens-auto" hx-get="/game/{{game.id}}" hx-target="#content">
          <span
            class="underline decoration-transparent hover:decoration-current decoration-2 transition-all duration-200 cursor-pointer hover:font-[700] font-[600]"
            >{{game.game.name}}</span
          >
        </div>
        <div class="tiny-grid four-colors col-span-5">
          {% for player in game.game.players %}
          <div
            class="border-current text-sm font-[400] rounded-sm border-2 center"
          >
            {{player}}
          </div>
          {% endfor %}
        </div>
        <div class="center">
          <span
            class="cursor-pointer transition-all trashIcon relative"
              hx-delete="/game/{{game.id}}"
              hx-swap="outerHTML"
              hx-target="closest div.game"
              hx-confirm="Are you sure you want to delete the {{game.game.name}} game?"
            >
            <img
            class="lid transition-all absolute"
              src="public/assets/lid.svg"
          /><img
            class="bin transition-all"
              src="public/assets/trash.svg"
          />

          </span>
        </div>
      </div>
      {% endfor %}
    </div>
  </div>
</div>
