<div class="center-content">
  <div class="center w-full max-w-72">
    <form class="relative flex flex-col justify-start items-stretch w-full">
      <h2
        class="text-2xl leading-[1.9rem] text-neutral-700 font-bold mb-4 underline decoration-2 decoration-current underline-offset-1"
      >
        Login
      </h2>
      <div class="mb-4">
        <label for="email" class="w-full text-input-label flex flex-col"
          >email
          <input
            type="email"
            id="email"
            name="email"
            placeholder="john.doe@mail.com"
            hx-trigger="focusout delay:1s"
            hx-swap="innerHTML"
            hx-post="/api/check-email"
            hx-target="#login-actions"
            class="login-input"
        /></label>
      </div>
      <div class="mb-4">
        <label for="password" class="w-full text-input-label flex flex-col"
          >password
          <input
            type="password"
            id="password"
            name="password"
            placeholder="••••••••"
            class="login-input"
            minlength="8"
        /></label>
      </div>
      <div id="login-actions" class="h-12"></div>
      <div id="feedback" class="absolute -bottom-12 w-full">
        <div id="alert"></div>
        <div class="htmx-indicator w-full flex justify-center" id="indicator">
          <div style="width: 11ch">
            <p class="waiting">Waiting...</p>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>
