<div class="w-full h-full flex flex-col">
  <h1
    class="text-stone-900 text-3xl font-[600] text-center w-full mt-6"
    style="flex-grow: 1"
  >
    Whist<span class="italic text-blue-800">Book</span>
  </h1>
  <div id="content" class="mt-8 h-full w-full">
    <div class="center-content what">
      <div
        class="flex gap-8 min-h-64 max-w-52 md:max-w-96 flex-wrap justify-center"
      >
        <button
          hx-get="/games"
          hx-target="#content"
          hx-swap="innerHTML"
          class="w-40 h-9 rounded-sm hover:bg-neutral-100 transition-colors border-blue-800 border-2 hover:text-blue-700 font-medium text-lg px-1"
        >
          Speel verder
        </button>
        <button
          hx-get="/new-game"
          hx-target="#content"
          hx-swap="innerHTML"
          class="w-40 h-9 rounded-sm hover:bg-neutral-100 transition-colors border-green-800 border-2 hover:text-green-700 font-medium text-lg px-1"
        >
          Nieuw spel
        </button>
      </div>
    </div>
  </div>
  <div id="alert"></div>
</div>
