{%- import "player_input.html" as player_input -%}
<div class="center-content">
  <form
    hx-boost="true"
    hx-post="api/new-game"
    hx-target="#content"
    hx-swap="innerHTML"
    class="flex flex-col gap-2 max-width-52"
  >
    <label class="text-input-container">
      <h2 class="text-input-label pointer-events-none">Naam van het spel:</h2>
      <input
        class="text-input"
        name="name"
        type="text"
        placeholder="Cafe 11/02"
      />
    </label>
    <label class="text-input-container">
      <h2 class="text-input-label">Speler 1</h2>
      <input
        class="text-input"
        name="player1"
        type="text"
        placeholder="your name"
      />
    </label>
    {% call player_input::player_input("player 2", "2", "Bob")%}
    {% call player_input::player_input("player 3", "3", "Charlie")%}
    {% call player_input::player_input("player 4", "4", "Dave")%}
    <span id="p5" class="hidden opacity-0">
    {% call player_input::player_input("player 5", "5", "Eve")%}
    </span>
    <span id="p6" class="hidden opacity-0">
    {% call player_input::player_input("player 6", "6", "Fred")%}
    </span>
    <span id="p7" class="hidden opacity-0">
    {% call player_input::player_input("player 7", "7", "Greg")%}
    </span>
    <div class="grid grid-cols-7 gap-2">
        <button id="morePlayers" type="button" class="button mt-4"
            _ = "
            on load
                set :next to 5
            on click
                if :next == 5
                    then remove .hidden from #p5
                    then transition #p5's opacity to 1 over 200ms
                    then increment :next
                else if :next == 6
                    then remove .hidden from #p6
                    then transition #p6's opacity to 1 over 200ms
                    then increment :next
                else if :next == 7
                    then remove .hidden from #p7
                    then transition #p7's opacity to 1 over 200ms
                    then increment :next
                end
            "
            >+</button>
        <button type="submit" class="button mt-4 col-span-6">verzend</button>
    </div>
    <div id="alert" class="h-8"></div>
  </form>
</div>
<div id="qrContainer" class="absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 z-10 w-full h-full center opacity-0 hidden backdrop-blur-sm pointer-events-none"
    _="on scanFor(id)
            remove .hiden from me 
            remove .pointer-events-none from me
            add .h-full to me
            then transition my opacity to 1 over 200ms 
            then set #buffer's value to id
            end
        on click or scanned
            transition my opacity to 0 over 200ms 
            then add .hidden to me
            then add .pointer-events-none to me
            then remove h-full from me
    "
    >
    <video id="qrVideo"></video>
    <input hidden type="text" id="buffer"></input>
</div>
<script>
const qrContainer = document.querySelector('#qrContainer');
const buffer = document.querySelector('#buffer');
const qrScanner = new QrScanner(
   document.querySelector('#qrVideo'),
    result => { 
        const value = result.data;
        const event = new Event('scanned');

        const id_input = document.querySelector(buffer.value);
        id_input.value = value;

        // for styling
        id_input.classList.add("scanned");

        qrContainer.dispatchEvent(event);
    },
    {
        highlightScanRegion: true,
        highlightCodeOutline: true
    }
);

qrContainer.addEventListener('scanFor', e => {
    qrScanner.start();
})

qrContainer.addEventListener('scanned', e => {
    qrScanner.stop();
})

qrContainer.addEventListener('click', e => {
    qrScanner.stop();
})
</script>
