{%- import "player_input.html" as player_input -%}
<div class="center-content">
  <form
    hx-post="api/new-game"
    hx-target="#content"
    hx-swap="innerHTML"
    class="flex flex-col gap-2 max-width-52"
  >
    <label class="text-input-container">
      <h2 class="text-input-label">Naam van het spel:</h2>
      <input
        class="text-input"
        name="name"
        type="text"
        placeholder="Cafe 11/02"
      />
    </label>
    <label class="text-input-container">
      <h2 class="text-input-label">Speler 1</h2>
      <input
        class="text-input"
        name="player1"
        type="text"
        placeholder="your name"
      />
    </label>
    {% call player_input::player_input("player 2", "player2", "Bob")%}
    {% call player_input::player_input("player 3", "player3", "Charlie")%}
    {% call player_input::player_input("player 4", "player4", "Dave")%}
    <button type="submit" class="button mt-4">verzend</button>
  </form>
</div>
