{% macro player_input(show, name, placeholder) %}
<label class="text-input-container">
    <h2 class="text-input-label">{{show}}</h2>
    <div class="grid grid-cols-7 gap-2">
        <input
        class="text-input col-span-6"
        name="player{{name}}"
        type="text"
        placeholder="{{placeholder}}"
        />
        <button tabindex="-1" class="button scanIdButton" type="button"
            _="on click
                if #id{{name}}'s value == ''
                  send scanFor(id:'#id{{name}}') to #qrContainer
                else
                  remove .scanned from #id{{name}}
                  set #id{{name}}'s value to ''
            "
            >ID
            <input hidden id="id{{name}}" type="text" name="id{{name}}"/>
        </button>
    </div>
</label>
{% endmacro %}
