@import url("https://fonts.cdnfonts.com/css/jetbrains-mono-2");

@tailwind base;
@tailwind components;
@tailwind utilities;

.toggled {
  border-color: red !important;
  border-width: 2px !important;
}

.text-input {
  @apply rounded-sm border-neutral-800 border-2 hover:bg-neutral-100 transition-colors text-lg focus:border-blue-800 outline-none text-neutral-700;
  @apply px-2;
}

.text-input-container {
  @apply flex flex-col gap-[3px];
}

.text-input-label {
  @apply w-52 font-medium text-neutral-800;
}

.center-content {
  @apply flex justify-center items-center h-full w-full;
  @apply px-4 md:px-0
}

.button {
  @apply border-neutral-800 border-2 rounded-sm hover:bg-neutral-100 transition-all duration-200 active:border-blue-800 outline-none text-neutral-800;
  @apply px-2 cursor-pointer;
}

.center {
  @apply flex justify-center items-center
}

.alert {
  @apply border-orange-600 border-2 rounded-sm center text-wrap text-orange-600 font-medium;
}

.form-grid {
  @apply grid gap-2; 
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr))
}

.form-grid-small {
  @apply grid gap-2;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
}

#alert>* {
  animation: fadeInOut 6s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

