@import url('https://fonts.cdnfonts.com/css/jetbrains-mono-2');

@tailwind base;
@tailwind components;
@tailwind utilities;

.toggled {
  @apply bg-neutral-200;
  @apply underline decoration-2;
}

.login-input {
  @apply rounded-sm border-neutral-800 border-2 hover:bg-neutral-100 transition-colors text-lg focus:border-blue-800 outline-none text-neutral-700;
  @apply px-2 w-full;
}

.text-input {
  @apply rounded-sm border-neutral-800 border-2 hover:bg-neutral-100 transition-colors text-lg focus:border-blue-800 outline-none text-neutral-700;
  @apply px-2;
}

.text-input-small {
  @apply rounded-sm border-neutral-800 border-2 hover:bg-neutral-100 transition-colors focus:border-blue-800 outline-none text-neutral-700;
  @apply px-2;
}

.text-input-container {
  @apply flex flex-col gap-[3px];
}

.text-input-label {
  @apply font-medium text-neutral-800;
}

.center-content {
  @apply flex justify-center items-center h-full w-full;
  @apply px-4 md:px-0;
}

.button {
  @apply border-current border-2 rounded-sm transition-all duration-150 active:border-blue-800 outline-none text-neutral-800;
  @apply px-2 cursor-pointer;
  @apply hover:-translate-y-[1px];
  @apply underline decoration-transparent decoration-2;
  @apply hover:decoration-current;
  @apply select-none;
}

.center {
  @apply flex justify-center items-center;
}

.alert {
  @apply border-orange-600 border-2 rounded-sm center text-wrap text-orange-600 font-medium;
}

.form-grid {
  @apply grid gap-2;
  grid-template-columns: repeat(auto-fill, minmax(8rem, 1fr));
}

.form-grid-small {
  @apply grid gap-2;
  grid-template-columns: repeat(auto-fill, minmax(4rem, 1fr));
}

.tiny-grid {
  @apply grid gap-1;
  grid-template-columns: repeat(2, 1fr);
}

.four-colors {
  > *:nth-child(1) {
    @apply text-red-700;
  }

  > *:nth-child(2) {
    @apply text-blue-800;
  }

  > *:nth-child(3) {
    @apply text-green-800;
  }

  > *:nth-child(4) {
    @apply text-amber-600;
  }

  > *:nth-child(5) {
    @apply text-purple-800;
  }

  > *:nth-child(6) {
    @apply text-pink-600;
  }

  > *:nth-child(7) {
    @apply text-cyan-700;
  }
}

.fade {
  opacity: 1;
}

.fade.htmx-added {
  opacity: 0;
}

.trashIcon:hover {
  .lid {
    transform: translateY(-7px) rotate(15deg);
    @apply drop-shadow-md;
  }
  
  .bin {
    transform: translateY(-2px) rotate(10deg);
    @apply drop-shadow-md;
  }
}

#alert > * {
  animation: fadeInOut 6s ease-in-out forwards;
}

@keyframes fadeInOut {
  0% {
    opacity: 0;
  }
  10% {
    opacity: 1;
  }
  80% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.scanIdButton:has(> input.scanned) {
  @apply text-green-700 font-bold line-through decoration-current;
}
